@model SakhaSite.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Insert";
}

<h1>InsertProduct</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="SalePanel" asp-action="Insert" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">نام محصول</label>
                <input asp-for="Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">قیمت</label>
                <input asp-for="Price" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">توضیحات</label>
                <input asp-for="Description" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="اضافه شدن به فروشگاه" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
